@use 'custom' as cus;
@use 'mixins' as mix;
@use 'sass:color';


html {
  scroll-behavior: smooth;
}

hr {
  @include mix.custom-hr();


  &:hover {
    @include mix.powerOnAnimation('powerOn', 2s, ease-in-out);
  }

}

.mini-hr {
  @include mix.custom-hr(2rem, 50%, contain, no-repeat);
  margin: 0 0 0.5rem 0;
}

@include mix.mobile {
  .mini-hr {
    @include mix.custom-hr(2.5rem, 25%, contain, no-repeat);
    
  }

}

.img-logo {
  height: 100px;
  width: auto;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.contact {
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: cus.$warning !important;
    transform: scale(1.1);
  }

}

/* Flecha subir Inicio */
#scrollToTopBtn {

  &:hover {
    background-color: color.adjust(cus.$warning, $lightness: -20%);
    transform: scale(1.1);

  }
}