@use 'custom' as cus;
@use 'sass:color';

// Código reutilizable a los que se le puede pasar parámetros

// Box-sizing
@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

// Crear grid
@mixin do-grid($num-columns, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($num-columns, 1fr);
    gap: $gap;
}

// Botón
@mixin btn($bgcolor, $fgcolor) {
    background-color: $bgcolor;
    border: 0;
    border-radius: 1rem;
    color: $fgcolor;
    display: block;
    font-weight: 700;
    padding: 1.2rem 3rem;
    text-align: center;
    width: 100%;

    @include tablet {
        width: auto;
    }

    // Transición
    transition: background-color 0.3s;

    &:hover {
        // Negativo = oscurecer / positivo = iluminar
        background-color: color.adjust($bgcolor, $lightness: -20%);
    }

}

// Media-queries
@mixin mobile {
    @media screen and (min-width: cus.$small) {
        // Como no puede ir vacía ponemos aquí que hay un contenido
        @content;

    }
}

@mixin tablet {
    @media screen and (min-width: cus.$medium) {
        // Como no puede ir vacía ponemos aquí que hay un contenido
        @content;

    }
}

@mixin desktop {
    @media screen and (min-width: cus.$big) {
        // Como no puede ir vacía ponemos aquí que hay un contenido
        @content;

    }
}

@mixin big-desktop {
  @media screen and (min-width: cus.$extra-big) {
      // Como no puede ir vacía ponemos aquí que hay un contenido
      @content;

  }
}

// Mixin para pantallas en orientación horizontal (más ancho que alto)
@mixin tablet-horizontal {
  @media screen and (orientation: landscape) and (min-width: cus.$hor)  {
      @content;
  }
}


// Personalización hr
@mixin custom-hr($height: 4rem, $width: 100%, $size: auto, $repeat: repeat) {
    border: none;
    height: $height;
    background-image: url(../img/hr.svg);
    background-size: $size;
    background-position: center;
    background-repeat: $repeat;
    margin: cus.$spacing 0;
    width: $width;
    display: block;
    z-index: 10;
    opacity: 100%;
    filter: drop-shadow(2px 2px 5px rgba(60, 60, 60, 0.2));
}

// Animación de logo y hr
@mixin powerOnAnimation($name: 'powerOn', $duration: 2s, $timing: ease-in-out) {
    @keyframes #{$name} {
      0% {
        opacity: 0;
        filter: brightness(0);
      }
      20% {
        opacity: 1;
        filter: brightness(1.5);
      }
      40% {
        opacity: 0.5;
        filter: brightness(0.8);
      }
      60% {
        opacity: 1;
        filter: brightness(1.2);
      }
      80% {
        opacity: 0.7;
        filter: brightness(0.9);
      }
      100% {
        opacity: 1;
        filter: brightness(1);
      }
    }
  
    animation: #{$name} $duration $timing;
    animation-fill-mode: forwards;
  }
  