@use '../custom/custom' as cus;
@use '../custom/mixins' as mix;

header {
    padding-bottom: 0;
    // height: calc(100vh - 56px);
    height: 100dvh;
}

.logo {
    max-width: 1500px;
    margin-top: 40%;
    width: 90%;
    opacity: 0;

    @include mix.powerOnAnimation('powerOn', 3s, ease-in-out);
}

/* Flecha parpadeante */
// .arrow-container {
//     margin: 20px 0; /* Espaciado entre las imágenes */
// }

.arrow {
    opacity: 0;
    animation: blink 2s infinite;
    animation-delay: 2.5s;

}

/* Animación de parpadeo */
@keyframes blink {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}


/* Imagen skyline */
.skyline {
    max-width: 100%;
    height: 30%;

    object-fit: cover;
    animation: skylineEnter 0.8s ease-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
    position: relative;
    bottom: 0;
    // filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(-0.4px -1px 1px cus.$warning) drop-shadow(-0.4px -1px 1px cus.$warning) drop-shadow(-0.4px -1px 1px cus.$warning) drop-shadow(-0.4px -1px 1px cus.$warning);


}

@keyframes skylineEnter {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    80% {
        transform: translateY(-10%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}



/* Ajuste para pantallas más pequeñas */
@include mix.mobile {

    header {
        height: 100vh;
        min-height: -webkit-fill-available;

    }

    /* Logo */
    .logo {
        margin-top: 20%;
        width: 80%;
    }

    /* Skyline */
    .skyline {
        height: 35%;

    }
}

@include mix.tablet {

    /* Logo */
    .logo {
        margin-top: 20%;
        width: 70%;
    }

    /* Skyline */
    .skyline {
        height: 30%;

    }
}

@include mix.desktop {

    /* Logo */
    .logo {
        margin-top: cus.$spacing;
        width: 45%;

    }

    /* Skyline */
    .skyline {
        height: auto;
        width: 100%;
    }
}

@include mix.tablet-horizontal {

    /* Logo */
    .logo {
        margin-top: cus.$spacing;
        width: 35%;

    }

    /* Skyline */
    .skyline {
        height: auto;
        width: 100%;
    }
}