@use '../custom/custom' as cus;
@use '../custom/mixins' as mix;

.sidebar {
    transition: 0.3s ease-in-out;
    width: 15%;
    left: -15% !important;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.show {
        left: 0 !important;
    }
}

.logo-sidebar {
    max-width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.section-name {
    display: none;
}

.nav-link {
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.1);
        background-color: cus.$warning;
        color: black;

        opacity: 0.8;
        width: max-content;

        i {
            color: black !important;
        }

        .section-name {
            display: block;
        }
    }

    
}

// Estilos responsivos específicos
@include mix.mobile {
    .sidebar {
        width: 20%  !important;
        left: -20% !important;
    }

    .nav-link {
        padding-left: 0.2rem;

        &:hover {
            opacity: 1;
            width: initial;
        }
    }
}

@include mix.tablet {

    

}

@include mix.desktop {
    .nav-link {
        padding-left: 1.5rem;
        
    }

    .logo-sidebar {
        width: 70%;
    }
}