@use '../custom/custom' as cus;
@use '../custom/mixins' as mix;

.sidebar {
    transition: 0.3s ease-in-out;
    width: 15%;
    left: -15%;
    min-height: max-content;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.show {
        left: 0;
    }
}

.logo-sidebar {
    margin: cus.$spacing 0;
    max-width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.nav-icon {
    color: cus.$warning;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-link {
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, padding-left 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.1);
        background-color: cus.$warning;
        color: black;
        padding-left: cus.$spacing;
        margin-left: 7rem;
        width: 10.8rem;
        opacity: 0.8;

        .nav-icon {
            color: black;
        }

        .section-name {
            display: block;
        }
    }
}

.section-name {
    display: none;
}

@include mix.mobile {
    .sidebar {
        width: 20%;
        left: -20%;
    }

    .logo-sidebar {
        max-width: 70%;
    }

    .nav-link {
        padding-left: 5rem !important;

        &:hover {
            min-width: max-content;
            opacity: 1;
        }
    }
}

@include mix.tablet {
    .nav-link {

        width: 100% !important;

        &:hover {
            // padding: 0 cus.$spacing !important;
            margin-left: 0;
        }

    }
}

@include mix.desktop {
    .nav-link {
        font-size: 2rem !important;
        // padding-left: 10% !important;


        &:hover {
            // padding: 0 !important;
        }
    }
}

@include mix.tablet-horizontal {
    .logo-sidebar {
        margin: 0.5rem;
        max-width: 70%;
    }

    .sidebar {
        width: 20%;
        left: -20%;
    }

    .nav-link {
        margin: 0.3rem 0 0 0 !important;
        padding-left: 0.5rem !important;


        &:hover {
            padding-left: 1rem !important;
            width: 7.5rem;
        }
    }
}