@use '../custom/custom' as cus;
@use '../custom/mixins' as mix;

.sidebar {
    transition: 0.3s ease-in-out;
    width: 15%;
    left: -15% !important;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.show {
        left: 0 !important;
    }
}

.logo-sidebar {
    max-width: 100%;
    transition: transform 0.3s ease;
    margin: cus.$spacing 0;

    &:hover {
        transform: scale(1.1);
    }
}

.section-name {
    display: none;
}

.nav {
    align-items: center;

    &:hover {
        // align-items: flex-start;
        display: block;

        .nav-link {
            width: max-content !important;
        }
    }


}

.nav-link {
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.1);
        background-color: cus.$warning;
        color: black;

        opacity: 0.8;
        // width: max-content;

        i {
            color: black !important;
        }

        .section-name {
            display: block;
        }


    }


}



// Estilos responsivos específicos
@include mix.mobile {

    .nav {
        align-items: flex-start;

        &:hover {

            .nav-link {
                width: 100% !important;
            }
        }


    }

    .sidebar {
        width: 20% !important;
        left: -20% !important;

    }

    .nav-link {
        &:hover {
            opacity: 1;
            width: initial;
        }
    }
}

@include mix.tablet {

    .nav {
        display:flex;
        flex-direction: column;
        width: 100% !important;


        &:hover {
            
            
            width: 100% !important;


            .nav-link {
                width: 100% !important;
            }

    
        }


    }

   

    .logo-sidebar {
        width: 60%;
    }

    

}

@include mix.tablet-horizontal {

    .logo-container {
        text-align: center;
    }

    .logo-sidebar {
        max-width: 60%;
        transition: transform 0.3s ease;
        margin: 0;
    }

    .nav-link {
        padding: 0.2rem;
        width: 100% !important;
    }

    .nav {

        align-items: center;

        &:hover {
            align-items: center;

            .nav-link {
                width: 100% !important;
            }
        }
    }

    .section-name {
        font-size: 1rem !important;

    }


}

@include mix.desktop {
    .nav-link {
        padding-left: 1.5rem;

    }

    .logo-sidebar {
        width: 70%;
    }

    .nav-link {
        width: 100% !important;
        margin-bottom: 1rem;

        i {
        font-size: 1.3rem !important;
        margin-right: 1rem;

        }
    }

    .section-name {
        font-size: 1rem !important;

    }
}

// @include mix.big-desktop {

//     .nav-link {
//         width: 100% !important;
//         margin-bottom: cus.$spacing;

//         i {
//         font-size: 2rem !important;
//         margin-right: cus.$spacing;

//         }
//     }

//     .section-name {
//         font-size: 1.5rem !important;

//     }
// }