@use '../custom/custom' as cus;
@use '../custom/mixins' as mix;

/* Estilo para los botones */
.btn-group {
    width: 100%;
}

.btn-group .btn {
    border-bottom: 1.5px solid cus.$warning;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
    font-size: 1rem;
    width: auto;
    color: black;
}

.btn-group .btn:hover {
    font-weight: bold;
}

@include mix.mobile {
    .btn-group .btn {
        padding: 1.25rem;
        font-size: 1.1rem;
        display: block;
        width: 100%;
    }
}

/* Estilo para el contenido de las pestañas */
.tab-content {
    border: 1.5px solid cus.$warning;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.tab-pane {
    display: none;
}

.tab-pane.show {
    display: block;
    /* Mostramos el contenido activo */
}

.tab-pane.active {
    animation: fadeIn 0.3s ease;
}

/* Animación de fade */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab-content {
    border: 1.5px solid cus.$warning;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.tab-content h5 {
    cursor: pointer;
}

@include mix.mobile {

    .btn-group .btn {
        font-size: 1.4rem;
    }

}